.edit-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container{
        h1{
            text-align: center;
            font-size: 2.5rem;
        }
     .edit-inputs{
         display: flex;
         flex-direction: column;
         width:20rem;
         margin:0 auto;
    
         .MuiFormControl-root{
             margin:1rem 0;
         }
     } 
     
     .btn-container{
         margin-top: 2rem;
         display: flex;
         justify-content: space-between;
     }
        
    }
}



@media only screen and (max-width: 600px) {
    .edit-page{
        .container{
            h1{
                font-size: 4rem;
            }
         .edit-inputs{
             width:30rem;        
             .MuiFormControl-root{
                 margin:1.5rem 0;
             }

             .MuiInputBase-input ,
             .MuiInputLabel-formControl{
                 font-size: 1.5rem;
             }
         } 
         
         .btn-container{
             margin-top: 1rem;
             .MuiButton-containedPrimary{
                 height: 4rem;
             }

             .MuiButton-label{
                font-size: 1.7rem;
             }
         }
        }
    }
  
  }
