.home-page {
  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  .upper-info {
    display: flex;
  }

  .MuiButton-containedPrimary {
    height: 3rem;
  }

  .MuiCircularProgress-root {
    display: block;
    margin: auto;
  }

  .MuiInputBase-root {
    margin: 0 0 1rem 1rem;
  }

  .MuiPaper-root-5 {
    .MuiTableContainer-root-33 {
      max-height: 60vh;
    }

    .MuiTableBody-root-244,
    .MuiTableBody-root {
      overflow-y: scroll;
    }

    .MuiTable-root-34,
    .MuiTablePagination-toolbar-55 {
      direction: ltr;
    }

    .MuiTableCell-body-43,
    .MuiTableCell-stickyHeader-52 {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-page {
    h1 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 2.5rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .home-page {
    h1 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 3rem;
    }
  }
}

@media only screen and (max-width: 992px) {
  .home-page {
    h1 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 2.5rem;
    }
  }
}
